/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and overall design */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #dccec6;
    color: #333;
    line-height: 1.6;
    background-image: url(Resources/css/pictures2/image-from-rawpixel-id-16340933-png.png);
    background-attachment: fixed;
    background-size: cover; /* Optional, to cover the entire viewport */
    background-position: center; /* Optional, to center the image */
  }
  
  /* Header Styling */
  header {
    text-align: center;
    /*background: #ffcccb; /* Soft pink */
    /*color: #fff;
    text-align: center;*/
    padding: 10rem 0 40rem 0;
  }
  
  header h1 {
    font-size: 3rem;
    font-family: "Frank Ruhl Libre";
    font-weight: 100;
    text-transform: uppercase;
    color: #734238;
  }
  
  header .couple-names {
    font-size: 6rem;
    font-weight: bold;
    font-family: "Parisienne";
    color: rgb(254, 251, 249);
  }

  header .date {
    font-size: 2rem;
    font-family: "Frank Ruhl Libre";
    font-weight: 100;
    text-transform: uppercase;
    color: #734238;
  }

  .block {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    margin: 40px 10px 40px 10px;
    text-align: center;
    font-family: "Frank Ruhl Libre";
  }
  
  .brick {
    background-color: #c18a7f;
    width: 110px;
    height: 110px;
    align-content: center;
    border-radius: 100%;
    font-size: 40px;
    font-weight: 400;
    margin: 10px;
  }
  
  /* Section styling */
  section {
    padding: 40px;
    margin: 0 100px 60px 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  section h1 {
    font-family: "Parisienne";
    color: #734238;
    font-size: 70px;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .countdown {
    color: #dccec6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
  }

  .information h1 {
    text-align: center;
}

.details {
    display: flex;
    flex-direction: row;
}

.details div {
    margin: 0 4rem;
    width: 50%;
}

.details img {
    height: auto;
    width: 30%;
    object-fit: cover;
}

.information .details-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;  /* Adds space between the items */
    margin: 20px;
}

.information .grid-item {
    flex: 1 1 calc(33.333% - 20px); /* 3 items in a row with a gap */
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
}

.our-story p {
    padding-bottom: 40px;
}
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* Flexible grid */
    gap: 15px;
    max-width: 100%;
    margin: 0 auto;
    }

    .grid-item {
        width: 100%;
        height: 0;
        padding-bottom: 100%; /* Creates a square aspect ratio by default */
        position: relative; /* So images can be absolutely positioned inside */
        overflow: hidden; /* Ensures images don’t overflow their containers */
    }

    .grid-item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures images cover the area without stretching/distorting */
    }

    .toastmasters {
        display: flex;
        flex-direction: row;
        text-align: right;
    }

    .toastmasters img {
        height: auto;
        width: 30%;
        object-fit: cover;
    }

    .toastmasters .text-frame {
        padding-right: 4rem;
    }

    .rsvp {
        text-align: center;
    }
  
    iframe {
    height: 120vh;
    width: 100%;
    margin: auto; /* Center the container horizontally */
  }

  /* Footer Styling */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
  
  footer p {
    font-size: 0.9rem;
  }

  @media (max-width: 1200px) {
    header {
        background-position-y: 20rem;
        padding: 10rem 0 34rem 0;
    }

    .information .grid-item {
        flex: 1 1 100%;  /* 1 item per row on smaller screens */
      }
    
  }

  @media (max-width: 1000px) {
    header {
        background-position-y: 26rem;
        padding: 10rem 0 34rem 0;
    }
    
  }
  
  /* Media Query for Mobile Responsiveness */
  @media (max-width: 768px) {
    header {
        background-image: none;
        padding: 10rem 0 10rem 0;
    }

    header h1 {
      font-size: 2.5rem;
    }

    section {
        padding: 40px;
        margin: 20px;
    }

    .details {
        flex-direction: column;
    }

    .details img {
        width: 100%;
    }

    .details div {
        margin: 20px auto;
    }

    .toastmasters {
        flex-direction: column;
    }

    .toastmasters img {
        width: 100%;
    }

    .toastmasters .text-frame {
        padding-right: 0;
    }
  
  }
  